#foto { width: 110px; margin-left: 56px; }
#dati-personali,
#educazione .dettagli,
#competenze-personali,
#informatica,
#software,
#congressi,
#revisione,
#seminari,
#pubblicazioni section.national-conferences,
#pubblicazioni section.tech-reports,
#pubblicazioni section.misc,
.pub .website
{ display: none !important; }

body { width: 100% !important; }

#professione .descrizione,
#educazione .descrizione
{ display: none !important; }

#professione .dove {
    font-size: 95% !important;
    margin-left: 184px !important;
    display: block !important;
    width: auto !important;
}

#educazione .dove {
    font-size: 95% !important;
    display: inline !important;
    width: auto !important;
    float: none !important;
}

#professione h2 { margin-top: 40px !important; }
h2 {
    margin-top: 0px !important;
    background-color: white !important;
    padding-top: 10px !important;
}

.esperienza-lavorativa,
.titolo-di-studio,
.premio
{ margin-bottom: 10px !important; }

#pubblicazioni .pub { margin-bottom: 5px !important; }
#pubblicazioni .year {
    height: 7ex !important;
}
#pubblicazioni .year::after { display: none; }

@media print {
    h2, h2 + hr, h3, h3 + hr {
        break-after: auto !important;
        break-inside: auto !important;
    }

    section,
    #pubblicazioni .pub,
    .pub h3 + li {
        break-before: auto !important;
        break-inside: auto !important;
    }
}
