<div class="container">
	<header>
		<img id="foto" src="foto.png" alt="{{personalData.name}} {{personalData.surname}}">
		<h1><span class="nome">{{personalData.name}}</span> <span class="cognome">{{personalData.surname}}</span> <small>Curriculum Vitae</small></h1>
	</header>
	<div id="dati-personali">
		<h2>Dati Personali</h2>
		<div id="generalita">
			<span class="nato-a">{{personalData.birthplace}}</span>
			<time class="nato-il">{{personalData.birthday}}</time>
		</div>
		<div id="residenza">
			<h3>Residenza</h3>
			<span class="via">{{personalData.address.street}}, {{personalData.address.streetNumber}}</span>
			<span class="cap">{{personalData.address.zipCode}}</span>
			<span class="citta">{{personalData.address.city}} ({{personalData.address.province}})</span>
			<span class="stato">{{personalData.address.nation}}</span>
		</div>
		<div id="contatti">
			<h3>Contatti</h3>
			<a class="telefono" href="tel:{{personalData.phoneNumber}}">{{personalData.phoneNumber}}</a>
			<a class="email" href="mailto:{{personalData.email}}">{{personalData.email}}</a>
		</div>
		<div id="misc">
			<span class="patente">{{personalData.license}}</span>
		</div>
	</div>
	<div *ngIf='education' id="educazione">
		<h2>Educazione</h2>
		<div *ngFor='let educationItem of education' class="titolo-di-studio">
			<h3 class="titolo" innerHtml="{{educationItem.what}}"></h3>
			<span class="quando" innerHtml="{{educationItem.when}}"></span>
			<span class="voto label label-info" innerHtml="{{educationItem.result}}"></span>
			<span class="dove" innerHtml="{{educationItem.where}}"></span>
			<span class="descrizione" innerHtml="{{educationItem.description}}"></span>
			<div *ngIf='educationItem.thesis' class="tesi panel panel-default">
				<div class="panel-heading">Tesi di Laurea</div>
				<table class="table table-condensed">
					<tbody>
						<tr>
							<th>Titolo</th>
							<td class="titolo-tesi" innerHtml="{{educationItem.thesis.title}}"></td>
						</tr>
						<tr>
							<th>Relatori</th>
							<td class="relatori-tesi" innerHtml="{{educationItem.thesis.supervisors}}"></td>
						</tr>
						<tr>
							<th>Abstract</th>
							<td class="abstract text-justify" innerHtml="{{educationItem.thesis.abstract}}"></td>
						</tr>
						<tr>
							<th>Rif.</th>
							<td class="ref" innerHtml="{{educationItem.thesis.ref}}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div *ngIf='jobs' id="professioni">
		<h2>Esperienze Lavorative</h2>
		<div *ngFor='let jobItem of jobs' class="esperienza-lavorativa">
			<h3 class="cosa" innerHtml="{{jobItem.what}}"></h3>
			<span class="quando" innerHtml="{{jobItem.when}}"></span>
			<span class="dove" innerHtml="{{jobItem.where}}"></span>
			<span class="descrizione" innerHtml="{{jobItem.description}}"></span>
			<div *ngIf='jobItem.details' class="dettagli panel panel-default">
				<div class="panel-heading">Dettagli</div>
				<table class="table table-striped table-condensed">
					<tbody>
						<tr *ngFor='let jobItemDetail of jobItem.details'>
							<th innerHtml="{{jobItemDetail.title}}"></th>
							<td class="attivita-responsabilita" innerHtml="{{jobItemDetail.description}}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div *ngIf='languages' id="lingue">
		<h2>Lingue</h2>

		<div *ngIf='languages.certificates'>
			<h2>Certificazioni Linguistiche</h2>
			<div *ngFor='let certificate of languages.certificates' class="certificazione todo">
				<h3 class="cosa" innerHtml="{{certificate.what}}"></h3>
				<span class="quando" innerHtml="{{certificate.when}}"></span>
				<span class="dove" innerHtml="{{certificate.where}}"></span>
				<span class="ref todo" innerHtml="{{certificate.ref}}"></span>
			</div>
		</div>
	</div>
	<div *ngIf='itSkills' id="informatica">
		<h2>Competenze Informatiche</h2>
		<div *ngFor='let itSkill of itSkills' class="competenza">
			<h3 class="cosa" innerHtml="{{itSkill.title}}"></h3>
			<span class="descrizione" innerHtml="{{itSkill.description}}"></span>
			<ul class="linguaggi">
				<li *ngFor='let technology of itSkill.technologies' class='label label-default' innerHtml="{{technology}}"></li>
			</ul>
		</div>
	</div>
	<div id="presentazioni">
		<h2>Presentazioni Orali</h2>
		<div *ngFor='let presentation of presentations' class="talk">
			<span class="cosa" innerHtml="{{presentation.what}}"></span>
			<span class="dove" innerHtml="{{presentation.where}}, {{presentation.when}}"></span>
			<span class="descrizione" innerHtml="{{presentation.description}}"></span>
			<span class="autori" innerHtml="{{presentation.who}}"></span>
			<span *ngIf='presentation.award' class="award label label-award" innerHtml="{{presentation.award}}"></span>
		</div>
	</div>
	<div *ngIf='publications'>
		<h2>Pubblicazioni</h2>
		<ol id="pubblicazioni">
			<li *ngFor='let publication of publications' class="pub">
				<time class="year label label-info" innerHtml="{{publication.when}}"></time>
				<span class="titolo" innerHtml="{{publication.what}}"></span>
				<span class="autori" innerHtml="{{publication.who}}"></span>
				<cite *ngIf='publication.where' class="publication" innerHtml="{{publication.where}}"></cite>
				<span *ngIf='publication.number' class="number" innerHtml="{{publication.number}}"></span>
				<span *ngIf='publication.pages' class="pages" innerHtml="{{publication.pages}}"></span>
				<span *ngIf='publication.publisher' class="publisher" innerHtml="{{publication.publisher}}"></span>
				<span *ngIf='publication.award' class="award label label-award" innerHtml="{{publication.award}}"></span>
			</li>
		</ol>
	</div>
</div>