/* SHOW/HIDE LIST */

#personal-data .birthplace {
    display: none;
}

/* HEADER */

header small {
	display: block;
	margin-bottom: 20px;
}

#personal-data div {
	line-height: 1.75em;
}

#photo {
	float: left;
	height: 200px;
    border-radius: 5px;
	margin-right: 18px;
	box-sizing: border-box;
}

.phone:after {
    /* newline */
    content: "\A";
    white-space: pre;
}

#contacts .email:before:hover, #contacts .phone:before:hover {
    text-decoration: none;
}

#social {
    float: right
}

#social .entry {
    text-align: right;
}

/* FINE HEADER */

.entry {
	clear: both;
}

.entry .title {
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
    margin: 10px 5px 4px 8px;
}

#itSkills .entry .title {
	display: block;
}

.entry .where {
	float: left;
	width: 170px;
    font-size: 0.9em;
	text-align: right;
	clear:left;
	box-sizing: border-box;
	padding-right: 5px;
	padding-top: 3px;
    font-style: italic;
    color: #555;
}

.entry .where:after {
    content: "\A";
    white-space: pre;
}

.entry .when {
	box-sizing: border-box;
	padding-right: 5px;
    float: left;
	width: 170px;
    font-size: 1em;
	text-align: right;
    font-weight: bold;
	font-style: italic;
	padding-top: 8px;
}

.entry .description,
.entry .who {
    font-size: 85%;
  	margin-left: 182px;
	display: block;
}

#itSkills .entry .description {
	margin-left: 32px;
	display: inline-block;
}

.details {
    font-size: 85%;
    padding-top: 5px;
    box-sizing: border-box;
	clear: both;
}

#education .entry table .title {
    padding-left: 25px;
}

#education .entry table caption {
    padding-left: 4px;
}

.detail table th {
    text-align: right;
    padding-left: 15px !important;
}

.panel-heading {
	display: none;
}

.panel,
table,
table tr,
table > tbody > tr > td,
table > tbody > tr > th,
table > tfoot > tr > td,
table > tfoot > tr > th,
table > thead > tr > td,
table > thead > tr > th {
    border: none !important;
	box-shadow: none !important;
    text-align: justify;
}

#education .entry table tr > *:first-child {
	text-align: right;
	width: 176px;
	box-sizing: border-box;
	padding-right: 12px;
}

#itSkills .linguaggi {
	padding-left: 32px;
}

#itSkills .entry {
	margin-top: 15px;
}

#presentations .entry .who {
	font-style: italic;
	font-size: 85%;
}

.result {
	margin-right: 5px;
}

#itSkills .entry .repo {
    font-style: normal;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 85%;
}

/* ICONS */

.with-icon:before {
    font-family: 'Glyphicons Halflings';
    vertical-align: bottom;
	font-weight: normal;
    padding: 5px;
    color: #333;
}

#social .with-icon:after {
    font-family: 'Glyphicons Halflings';
    vertical-align: bottom;
	font-weight: normal;
    padding: 5px;
    color: #333;
    content: "\e135";
}

.birthdate:before {
    content: "\e008"; /* USER */
}

.address:before {
    content: "\e021"; /* HOME */
}

.phone:before {
    content: "\e182"; /* PHONE or 145 SMARTPHONE*/
}

.email:before {
    content: "\2709"; /* MAIL */
}

.license:before {
    content: "\e024"; /* ROAD */
}

.social:before {
    content: "\e284"; /* PEOPLE GROUP */
}

#education .entry .title:before {
    content: "\e233"; /* EDU */
}

#jobs .entry .title:before {
    content: "\e139"; /* WORK */
}

#language-certifications .entry .title:before {
    content: "\e135"; /* GLOBE */
}

#itSkills .entry .title:before {
    content: "\e172"; /* FLOPPY */
}

#presentations .entry .title:before {
    content: "\e218"; /* BLACKBOARD */
}

#publications .entry .title:before {
    content: "\e043"; /* BOOK */
}

#projects .entry .title:before {
    content: "\e118"; /* FOLDER OPEN */
}
