
/* SHOW/HIDE LIST */

#dati-personali h2,
#dati-personali h3,
#dati-personali .nato-a,
#educazione .titolo-di-studio .data {
    display: none;
}


/* HEADER */

header small {
	display: block;
	margin-bottom: 20px;
}

#dati-personali div {
	line-height: 1.75em;
}

#dati-personali .nato-il:before {
    font-family: 'Glyphicons Halflings';
    content: "\e008"; /* USER */
    vertical-align: bottom;
	font-weight: normal;
    padding: 5px;
}

#foto {
	float: left;
	height: 200px;
    border-radius: 5px;
	margin-right: 18px;
	box-sizing: border-box;
}

#residenza .via:before {
    font-family: 'Glyphicons Halflings';
    content: "\e021"; /* HOME */
    vertical-align: bottom;
	font-weight: normal;
    padding: 5px;
}

#contatti .telefono:after {
    content: "\A";
    white-space: pre;
}

#contatti .telefono:before {
    font-family: 'Glyphicons Halflings';
    content: "\e182"; /* PHONE or 145 SMARTPHONE*/
    vertical-align: bottom;
	font-weight: normal;
    padding: 5px;
    color: #333;
}

#contatti .email:before {
    font-family: 'Glyphicons Halflings';
    content: "\2709"; /* MAIL */
    vertical-align: bottom;
    padding: 5px;
    color: #333;
}

#misc:before {
    font-family: 'Glyphicons Halflings';
    content: "\e024"; /* ROAD */
    vertical-align: bottom;
	font-weight: normal;
    padding: 5px;
    color: #333;
}

#contatti .email:before:hover, #contatti .telefono:before:hover {
    text-decoration: none;
}

/* FINE HEADER */

#educazione .titolo-di-studio,
#professioni .esperienza-lavorativa,
#lingue .certificazione,
#lingue .madrelingua,
#informatica .competenza,
#presentazioni .talk,
#pubblicazioni .pub {
	clear: both;
}


#educazione .titolo-di-studio .titolo,
#professioni .esperienza-lavorativa .cosa,
#lingue .certificazione .cosa,
#informatica .competenza .cosa,
#presentazioni .talk .cosa,
#pubblicazioni .pub .titolo {
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
    margin: 10px 5px 4px 8px;
}

#informatica .competenza .cosa {
	display: block;
}

#educazione .titolo-di-studio .titolo:before {
    font-family: 'Glyphicons Halflings';
    /* content: "\e080"; /* > */
    content: "\e233"; /* EDU */
    vertical-align: bottom;
	font-weight: normal;
    padding: 5px;
}

#pubblicazioni .pub .titolo {
    margin-left: 0px;
}

#professioni .esperienza-lavorativa .cosa:before {
	font-family: 'Glyphicons Halflings';
    /* content: "\e080"; /* > */
    content: "\e139"; /* WORK */
    vertical-align: bottom;
	font-weight: normal;
    padding: 5px;
}

#lingue .certificazione .cosa:before {
	font-family: 'Glyphicons Halflings';
    /* content: "\e080"; /* > */
    content: "\e135"; /* GLOBE */
    vertical-align: bottom;
	font-weight: normal;
    padding: 5px;
}

#informatica .competenza .cosa:before {
	font-family: 'Glyphicons Halflings';
    /* content: "\e080"; /* > */
    content: "\e172"; /* FLOPPY */
    vertical-align: bottom;
	font-weight: normal;
    padding: 5px;
}

#presentazioni .talk .cosa:before {
	font-family: 'Glyphicons Halflings';
    /* content: "\e080"; /* > */
    content: "\e218"; /* BLACKBOARD */
    vertical-align: bottom;
	font-weight: normal;
    padding: 5px;
}

/* #pubblicazioni .pub:before {
	font-family: 'Glyphicons Halflings';
*/
    /* content: "\e080"; /* > */
/*    content: "\e022"; /* FILE */
/*    vertical-align: bottom;
    padding: 5px;
	font-style: normal;
} */


#educazione .titolo-di-studio .dove,
#professioni .esperienza-lavorativa .dove,
#presentazioni .talk .dove {
	float: left;
	width: 170px;
    font-size: 0.9em;
	text-align: right;
	clear:left;
	box-sizing: border-box;
	padding-right: 5px;
	padding-top: 3px;
}

#educazione .titolo-di-studio .dove,
#professioni .esperienza-lavorativa .dove,
#lingue .certificazione .dove,
#presentazioni .talk .dove {
    font-style: italic;
    color: #555;
}

#educazione .titolo-di-studio .dove:after,
#professioni .esperienza-lavorativa .dove:after,
#lingue .certificazione .dove:after,
#presentazioni .talk .dove:after {
    content: "\A";
    white-space: pre;
}

#educazione .titolo-di-studio .quando,
#professioni .esperienza-lavorativa .quando,
#lingue .certificazione .quando,
#lingue .madrelingua-label,
#presentazioni .talk .quando {
	box-sizing: border-box;
	padding-right: 5px;
    float: left;
	width: 170px;
    font-size: 1em;
	text-align: right;
    font-weight: bold;
	font-style: italic;
	padding-top: 8px;
}

#educazione .titolo-di-studio .descrizione,
#professioni .esperienza-lavorativa .descrizione,
#presentazioni .talk .descrizione,
#lingue .certificazione .ref,
#lingue .madrelingua-value {
    font-size: 85%;
  	margin-left: 182px;
	display: block;
}

#informatica .competenza .descrizione {
	margin-left: 32px;
	display: inline-block;
}

#educazione .titolo-di-studio .corsi,
#educazione .titolo-di-studio .tesi,
#educazione .titolo-di-studio .esami,
#professioni .esperienza-lavorativa .dettagli {
    font-size: 85%;
    padding-top: 5px;
    box-sizing: border-box;
	clear: both;
}

#educazione .titolo-di-studio table .titolo-corso {
    padding-left: 25px;
}

#educazione .titolo-di-studio table caption {
    padding-left: 4px;
}

.tesi table th {
    text-align: right;
    padding-left: 15px !important;
}

.codice-esame {
	font-family: monospace;
}

.panel-heading {
	display: none;
}

.panel,
table,
table tr,
table > tbody > tr > td,
table > tbody > tr > th,
table > tfoot > tr > td,
table > tfoot > tr > th,
table > thead > tr > td,
table > thead > tr > th {
    border: none !important;
	box-shadow: none !important;
    text-align: justify;
}

#educazione .titolo-di-studio table tr > *:first-child,
#professioni .esperienza-lavorativa table tr > *:first-child
{
	text-align: right;
	width: 176px;
	box-sizing: border-box;
	padding-right: 12px;
}

#informatica .linguaggi {
	padding-left: 32px;
}

#informatica .competenza {
	margin-top: 15px;
}

#presentazioni .talk .award,
#presentazioni .talk .autori {
	font-size: 85%;
}

#presentazioni .talk .autori {
	font-style: italic;
}

#presentazioni .talk .autori:before {
	content: ' - '
}

#pubblicazioni .pub .number:before {
	content: 'n.'
}

#pubblicazioni .pub .pages:before {
	content: 'pp. '
}

#pubblicazioni .pub .autori:after,
#pubblicazioni .pub .number:after,
#pubblicazioni .pub .pages:after {
	content: ', '
}

.voto {
	margin-right: 5px;
}

cite.ref {
	font-style: normal;
	font-weight: bold;
	font-family: monospace;
}

ol {
	counter-reset: list;
	list-style-type: none;
	padding-left: 0;
}
ol > li:before {
	font-weight: bold;
	font-family: monospace;
	content: "[" counter(list) "]";
	counter-increment: list;
}

#informatica .competenza .repo {
    font-style: normal;
}
