<div *ngIf='labels && data' class="container">
	<header>
		<img id="photo" src="photo.png" alt="{{data.personalData.name}} {{data.personalData.surname}}">
		<h1><span class="nome">{{data.personalData.name}}</span> <span class="cognome">{{data.personalData.surname}}</span> <small>{{labels.curriculum}}</small></h1>
	</header>

	<div *ngIf='data.personalData' id="personal-data">
		<div *ngIf='data.personalData.social' id="social">
			<div *ngFor='let socialItem of data.personalData.social' class="entry with-icon">
				{{socialItem.name}}: <a href="{{socialItem.link}}">{{socialItem.value}}</a>
				</div>
		</div>
		
		<div>
			<time class="birthdate with-icon">{{data.personalData.birthday}}</time>
			<span class="birthplace">{{data.personalData.birthplace}}</span>
		</div>
		<div>
			<span class="address with-icon">{{data.personalData.address.street}} {{data.personalData.address.streetNumber}}, {{data.personalData.address.zipCode}}, {{data.personalData.address.city}} ({{data.personalData.address.province}}), {{data.personalData.address.nation}}</span>
		</div>
		<div id="contacts">
			<a class="phone with-icon" href="tel:{{data.personalData.phoneNumber}}">{{data.personalData.phoneNumber}}</a>
			<a class="email with-icon" href="mailto:{{data.personalData.email}}">{{data.personalData.email}}</a>
		</div>
		<div>
			<span class="license with-icon">{{data.personalData.license}}</span>
		</div>
	</div>

	<div *ngIf='data.education' id="education">
		<h2>{{labels.education}}</h2>
		<div *ngFor='let educationItem of data.education' class="entry">
			<h3 class="title with-icon" innerHtml="{{educationItem.what}}"></h3>
			<span class="when" innerHtml="{{educationItem.when}}"></span>
			<span class="result label label-info" innerHtml="{{educationItem.result}}"></span>
			<span class="where" innerHtml="{{educationItem.where}}"></span>
			<span class="description" innerHtml="{{educationItem.description}}"></span>
			<div *ngIf='educationItem.thesis' class="details panel panel-default">
				<div class="panel-heading">{{labels.thesis.caption}}</div>
				<table class="table table-condensed">
					<tbody>
						<tr>
							<th>{{labels.thesis.title}}</th>
							<td id="thesis-title" innerHtml="{{educationItem.thesis.title}}"></td>
						</tr>
						<tr>
							<th>{{labels.thesis.supervisors}}</th>
							<td id="thesis-supervisors" innerHtml="{{educationItem.thesis.supervisors}}"></td>
						</tr>
						<tr>
							<th>{{labels.thesis.abstract}}</th>
							<td id="thesis-abstract" class="text-justify" innerHtml="{{educationItem.thesis.abstract}}"></td>
						</tr>
						<tr>
							<th>{{labels.thesis.reference}}</th>
							<td class="ref" innerHtml="{{educationItem.thesis.ref}}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div *ngIf='data.jobs' id="jobs">
		<h2>{{labels.jobs}}</h2>
		<div *ngFor='let jobItem of data.job' class="entry">
			<h3 class="title with-icon" innerHtml="{{jobItem.what}}"></h3>
			<span class="when" innerHtml="{{jobItem.when}}"></span>
			<span class="where" innerHtml="{{jobItem.where}}"></span>
			<span class="description" innerHtml="{{jobItem.description}}"></span>
			<div *ngIf='jobItem.details' class="details panel panel-default">
				<div class="panel-heading">{{labels.details}}</div>
				<table class="table table-striped table-condensed">
					<tbody>
						<tr *ngFor='let jobItemDetail of jobItem.details'>
							<th innerHtml="{{jobItemDetail.title}}"></th>
							<td class="attivita-responsabilita" innerHtml="{{jobItemDetail.description}}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div *ngIf='data.languages' id="languages">
		<h2>{{labels.languages}}</h2>

		<div *ngIf='data.languages.motherTongue' class='entry'>
			<span class="when" innerHtml="{{labels.motherTongue}}"></span>
			<span class="title" innerHtml="{{data.languages.motherTongue}}"></span>
		</div>

		<table *ngIf='data.languages.otherLanguages' class="table table-condensed table-striped">
			<thead>
				<tr>
					<th>{{labels.otherLanguages.language}}</th>
					<th>{{labels.otherLanguages.listening}}</th>
					<th>{{labels.otherLanguages.reading}}</th>
					<th>{{labels.otherLanguages.spokenInteraction}}</th>
					<th>{{labels.otherLanguages.spokenProduction}}</th>
					<th>{{labels.otherLanguages.writing}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor='let otherLanguage of data.languages.otherLanguages'>
					<td>{{otherLanguage.language}}</td>
					<td>{{otherLanguage.listening}}</td>
					<td>{{otherLanguage.reading}}</td>
					<td>{{otherLanguage.spokenInteraction}}</td>
					<td>{{otherLanguage.spokenProduction}}</td>
					<td>{{otherLanguage.writing}}</td>
				</tr>
			</tbody>
		</table>

		<div *ngIf='data.languages.certificates' id="language-certifications">
			<h3>{{labels.languageCertificates}}</h3>
			<div *ngFor='let certificate of data.languages.certificates' class="entry">
				<h3 class="title with-icon" innerHtml="{{certificate.what}}"></h3>
				<span class="when" innerHtml="{{certificate.when}}"></span>
				<span class="where" innerHtml="{{certificate.where}}"></span>
				<span class="description" innerHtml="{{certificate.ref}}"></span>
			</div>
		</div>
	</div>

	<div *ngIf='data.itSkills' id="itSkills">
		<h2>{{labels.itSkills}}</h2>
		<div *ngFor='let itSkill of data.itSkills' class="entry">
			<h3 class="title with-icon" innerHtml="{{itSkill.title}}"></h3>
			<span class="description" innerHtml="{{itSkill.description}}"></span>
			<ul class="technologies">
				<li *ngFor='let technology of itSkill.technologies' class='label label-default' innerHtml="{{technology}}"></li>
			</ul>
		</div>
	</div>

	<div *ngIf='data.presentations' id="presentations">
		<h2>{{labels.presentations}}</h2>
		<div *ngFor='let presentation of data.presentations' class="entry">
			<span class="title with-icon" innerHtml="{{presentation.what}}"></span>
			<span class="when" innerHtml="{{presentation.when}}"></span>
			<span class="where" innerHtml="{{presentation.where}}"></span>
			<span class="description" innerHtml="{{presentation.description}}"></span>
			<span class="who" innerHtml="{{presentation.who}}"></span>
			<span *ngIf='presentation.award' class="award label label-award" innerHtml="{{presentation.award}}"></span>
		</div>
	</div>

	<div *ngIf='data.publications' id="publications">
		<h2>{{labels.publications}}</h2>
		<div *ngFor='let publication of data.publications' class="entry">
			<span class="title with-icon" innerHtml="{{publication.what}}"></span>
			<time class="when" innerHtml="{{publication.when}}"></time>
			<span *ngIf='publication.where' class="where" innerHtml="{{publication.where}}"></span>
			<span class="who" innerHtml="{{publication.who}}"></span>
			<!--
			<span *ngIf='publication.number' class="number" innerHtml="{{publication.number}}"></span>
			<span *ngIf='publication.pages' class="pages" innerHtml="{{publication.pages}}"></span>
			<span *ngIf='publication.publisher' class="publisher" innerHtml="{{publication.publisher}}"></span>
			<span *ngIf='publication.award' class="award label label-award" innerHtml="{{publication.award}}"></span>
			-->
		</div>
	</div>

	<div *ngIf='data.projects' id="projects">
		<h2>{{labels.projects}}</h2>
		<div *ngFor='let project of data.projects' class="entry">
			<h3 class="title with-icon" innerHtml="{{project.what}}"></h3>
			<span class="when" innerHtml="{{project.when}}"></span>
			<span class="where" innerHtml="{{project.where}}"></span>
			<span class="description" innerHtml="{{project.description}}"></span>
			<span class="who" innerHtml="{{project.who}}"></span>
			<span *ngIf='project.award' class="award label label-award" innerHtml="{{project.award}}"></span>
		</div>
	</div>

	<footer>
		<span>Created with <a href="https://github.com/fabiocarrara/web-cv/">web-cv</a> by <a href="https://github.com/fabiocarrara/">Fabio Carrara</a> and  <a href="https://github.com/danyf90/">Daniele Formichelli</a></span>
	</footer>
</div>